body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

.todo-container {
  display: grid;
  grid-template-columns: auto auto;
}

.todo-actions-container {
  display: flex;
}

.todos-container {
  box-sizing: border-box;
  width: calc(100% - 4rem);
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 4rem;
}

.todo.done h3,
.todo.done p {
  text-decoration: line-through;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  display: inline-block;
}

.todo h3 {
  margin-bottom: 0.1em;
}

.todo .category {
  font-size: medium;
}

header {
  display: flex;
  gap: 1rem;
}